{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - utility_classes: An array of utility classes.
 */
#}
{% set bundle = bundle ? 'block--' ~ bundle|clean_class : "" %}
{% set id = id ? 'block--' ~ id|replace({"_": "-"})|clean_class : "" %}
{% set classes = ['block', bundle, id] %}

{% if tag %}
  <{{ tag }} class="{{ classes|join(' ') }}">
{% endif %}

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}

{% if tag %}
  </{{ tag }}>
{% endif %}
