{#
/**
 * @file
 * Template for a Featured card component.
 *
 * Available config:
 * - card_attributes: Drupal attributes for featured card wrapper.
 * - row_attributes: Drupal attributes for row.
 * - left_column_attributes: Drupal attributes for left column.
 * - right_column_attributes: Drupal attributes for right column.
 * - columns_sm_size: The bootstrap columns size in sm view.
 * - columns_md_size: The bootstrap columns size in md view.
 * - columns_lg_size: The bootstrap columns size in lg view.
 * - columns_xl_size: The bootstrap columns size in xl view.
 * - columns_xxl_size: The bootstrap columns size in xxl view.
 * - featured_card_classes: An array of classes for featured card wrapper.
 * - row_classes: An array of classes for row.
 * - left_column_classes: An array of classes for left column.
 * - right_column_classes: An array of classes for right column.
 * - image_position: left|right to determine if the row is reversed or not.
 * - lang_dir: A global variable to check the language direction LTR|RTL.
 * - utility_classes: An array of aditional classes for featured card wrapper.
 */
#}

{% if lang_dir == "ltr" %}
  {{ attach_library('vartheme_bs5/featured-card-ltr') }}
{% else %}
  {{ attach_library('vartheme_bs5/featured-card-rtl') }}
{% endif %}

{% set featured_card_classes = [
  'card',
  'varbase-featured-card'
]|merge(utility_classes ?? []) %}

{% set row_classes = [
  'row',
  image_position == 'right' ? 'flex-row-reverse' : ''
] %}

{% set left_column_classes = [
  'left-column',
  columns_sm_size ? 'col-sm-' ~ columns_sm_size|split("_")[0] : '',
  columns_md_size ? 'col-md-' ~ columns_md_size|split("_")[0] : '',
  columns_lg_size ? 'col-lg-' ~ columns_lg_size|split("_")[0] : '',
  columns_xl_size ? 'col-xl-' ~ columns_xl_size|split("_")[0] : '',
  columns_xxl_size ? 'col-xxl-' ~ columns_xxl_size|split("_")[0] : ''
] %}

{% set right_column_classes = [
  'right-column',
  columns_sm_size ? 'col-sm-' ~ columns_sm_size|split("_")[1] : '',
  columns_md_size ? 'col-md-' ~ columns_md_size|split("_")[1] : '',
  columns_lg_size ? 'col-lg-' ~ columns_lg_size|split("_")[1] : '',
  columns_xl_size ? 'col-xl-' ~ columns_xl_size|split("_")[1] : '',
  columns_xxl_size ? 'col-xxl-' ~ columns_xxl_size|split("_")[0] : ''
] %}

<div {{ card_attributes.addClass(featured_card_classes) }}>
  <div {{ row_attributes.addClass(row_classes) }}>
    <div {{ left_column_attributes.addClass(left_column_classes) }}>
      {{ image }}
      </div>
    <div {{ right_column_attributes.addClass(right_column_classes) }}>
      <div class="card-body">
        {{ content }}
      </div>
    </div>
  </div>
</div>
