{#
/**
 * @file
 * Vartheme BS5's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 *
 * Regions:
 * - page.top_bar: Items for the Top bar region.
 * - page.navbar_branding: Items for the Navbar branding region.
 * - page.navigation: Items for the Navigation (Desktop and Collapse) region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.content_above: Items for the Content above region.
 * - page.primary_sidebar: Items for the Primary sidebar region.
 * - page.content: Items for the Content region.
 * - page.secondary_sidebar: Items for the Secondary sidebar region.
 * - page.content_below: Items for the Content below region.
 * - page.footer_top: Items for the Footer top region.
 * - page.footer_bottom: Items for the Footer bottom region.
 *
 * Vartheme BS5 variables:
 * - attributes
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - secondary_sidebar_attributes: Items for the secondary sidebar region. 
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 * - logo_print: Print logo.
 * - site_name: Site name.
 * - site_slogan: Site Slogen.
 * - lang_dir: Language direction.
 *
 * @see template_preprocess_page()
 * @see vartheme_bs5_preprocess_page()
 * @see vartheme_bs5_preprocess()
 * @see html.html.twig
 */
#}
<div id="page" class="page d-flex flex-column">

  {% include "vartheme_bs5:page-header" %}

  <main class="mb-3">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_above %}
      <div class="content-above">
        {% if container_content_above %}
        <div class="{{ container_content_above }}">
        {% endif %}
          {{ page.content_above }}
        {% if container_content_above %}
        </div>
        {% endif %}
      </div>
    {% endif %}

    {% if page.content or page.primary_sidebar or page.secondary_sidebar %}
      {% if container_content %}
      <div class="{{ container_content }}">
      {% endif %}
        <div class="row">
          <div class="col-12">
            <div class="page-content">
              {% if page.primary_sidebar %}
                <div class="primary-sidebar">
                  {{ page.primary_sidebar }}
                </div>
              {% endif %}

              <div class="inner-content">
                {{ page.content }}
              </div>

              {% if page.secondary_sidebar %}
                <div class="secondary-sidebar">
                  {{ page.secondary_sidebar }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% if container_content %}
      </div>
      {% endif %}
    {% endif %}

    {% if page.content_below %}
      <div class="content-below">
        {% if container_content_below %}
        <div class="{{ container_content_below }}">
        {% endif %}
          {{ page.content_below }}
        {% if container_content_below %}
        </div>
        {% endif %}
      </div>
    {% endif %}
  </main>

  {% include "vartheme_bs5:page-footer" %}

</div>
