{#
/**
 * @file
 * Template for the main page.
 * Available config:
 *  - is_front: true | false -> to determine if page is front or not
 */
#}

<div class="page d-flex flex-column">

  {% include "varbase_components:page-header" %}

  <main class="mb-3">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.content_above %}
      <div class="content-above">
        <div class="container">
          {{ page.content_above }}
        </div>
      </div>
    {% endif %}

    {% if page.content or page.primary_sidebar or page.secondary_sidebar%}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-content">
              {% if page.primary_sidebar %}
                <div class="primary-sidebar">
                  {{ page.primary_sidebar }}
                </div>
              {% endif %}

              <div class="inner-content">
                {{ page.content }}
              </div>

              {% if page.secondary_sidebar %}
                <div class="secondary-sidebar">
                  {{ page.secondary_sidebar }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.content_below %}
      <div class="content-below">
        <div class="container">
          {{ page.content_below }}
        </div>
      </div>
    {% endif %}
  </main>

  {% include "varbase_components:page-footer" %}

</div>
